<% layout('layouts/post-show') -%>
<h1><%= post.title %></h1>
<% include ../layouts/navbar %>
<p>Price: <%= post.price %></p>
<p>Description: <%= post.description %></p>
<p>Location: <%= post.location %></p>
<% post.images.forEach(function(img) { %>
<img src="<%= img %>" alt="board image" width="300" />
<% }); %>
<a href="/posts/<%= post.id %>/edit">
  <button>Edit</button>
</a>
<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
