<h1><%= post.title %></h1>
<p>Price: <%= post.price %></p>
<p>Description: <%= post.description %></p>
<p>Location: <%= post.location %></p>
<a href="/posts/<%= post.id %>/edit">
  <button>Edit</button>
</a>
<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
  <button type="submit">Delete</button>
</form>
